<header class="landing-header" style="position: relative; background-image: url(assets/images/team-of-multiracial-doctors-at-hospital-e1598498378805.jpg); background-position: top; background-repeat: no-repeat; background-size: cover; height: 55vh;">
       
   
  <div class="header-overlay">
      <div class="container">
                  <h1 class="header-heading" style="font-size: 60px; text-align: center;">About Us</h1>
          </div>
      </div>
</header>

<section>
  <div class="container">
      <div class="row trust-row">
          <div class="col-lg-6">
              <div class="left-cantaint">
                  <div class="left-text-container">
                      <h2>{{TrustHeading}}</h2>
                      <p>{{TrustText}}</p>
                  </div>
                  <div class="card clinic-card mb-3" style="border: unset;" *ngFor="let Trust of  TrustList">
                      <div class="row g-0">
                        <div class="col-md-3">
                          <div class="left-icon ">
                              <i class="bi bi-hospital"></i>
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="card-body clinic-body">
                            <h5 class="card-title clinic-titel">{{Trust.TrustHeading}}</h5>
                            <p class="card-text clinic-text">{{Trust.TrustText}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                   
              </div>
          </div>
          <div class="col-lg-6">
              <div class="right-img">
                  <figure style="padding: 30px;">
                      <img [src]="TrustLeftImg" class="w-100" alt="">
                  </figure>
              </div>
          </div>
      </div>
  </div>
</section>
<section style="background-color: #EFF6FE; padding: 50px 0px;">
  <div class="container">
      <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col" *ngFor="let Counter of  CounterContent">
            <div class="card h-100 countor-card" style="border: unset; text-align: center;background-color: unset; ">
                    <!-- {{Counter.CounterIcon}}  -->
                    <i class="bi bi-1-circle"></i>
              <div class="card-body">
                <h5 class="card-title countor-card-title">{{Counter.CounterNum}}</h5>
                <p class="card-text countor-card-text">{{Counter.CounterText}}</p>
              </div>
            </div>
          </div>
          
        </div>
  </div>
</section>

<section>
    <div class="container">
        <div class="main-heading-content">
            <h2>We Take Care Your Health Seriously</h2>
            <p>Getting an accurate diagnosis can be one of the most impactful experiences that you can have.</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-5">
           
            <div class="col"  *ngFor="let blog of blogCard">
              <div class="card blog-card">
                <img [src]="blog.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title blog-title">{{blog.title}}</h5>
                  <p class="card-text blog-text">{{blog.text}}</p>
                  <div class="customs-btn-002">
                    <a class="btn btn-primary" href="#" role="button">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
           
            
          </div>  
    </div>
     
</section>