<header
    class="landing-header"
    [style]="{
    'position': 'relative', 
    'background-image': 'url(assets/images/bannerImage_1.jpg)', 
    'background-position': 'top', 
    'background-repeat': 'no-repeat', 
    'background-size': 'cover', 
    'height': '55vh'
  }"
>
    <div class="header-overlay">
        <div class="container">
            <h1 class="header-heading" style="font-size: 60px; text-align: center;">Our Doctor</h1>
        </div>
    </div>
</header>

<section style="margin-bottom: 200px;">
    <div class="container">
        <div class="main-heading-content">
            <h2>{{title}}</h2>
            <p>{{text}}</p>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let portfolio of doctorCard">
                <div class="card h-100">
                    <img [src]="portfolio.image" class="card-img-top" alt="..." />
                    <div class="doctor-icon">
                        <i class="bi bi-eye"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 18px; font-weight: 600; color: #10295d;">{{portfolio.title}}</h5>
                        <p class="card-text">{{portfolio.text}}</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="department">
                                    <p>{{portfolio.department}}</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="social-profile">
                                    <i class="bi bi-facebook"></i>
                                    <i class="bi bi-instagram"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-image: linear-gradient(180deg, #e3f8ff 0%, #ffffff 100%);">
    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-text-container">
                    <h2>Make Appointment</h2>
                    <p>Getting an accurate diagnosis can be one of the most impactful experiences that you can have — especially if you’ve been in search of that answer for a while. We can help you get there.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h4 style="color: #10295d; font-size: 20px; font-weight: 600;">Denpasar, Bali</h4>
                        <p style="font-size: 14px;"><i class="bi bi-geo-alt-fill" style="color: #2a73ed;"></i> Jl. Niti Mandala, Renon, Bali, Indonesia – 80225</p>
                        <p style="font-size: 14px;"><i class="bi bi-telephone-fill" style="color: #2a73ed;"></i> +62 361 234 4567</p>
                        <p style="font-size: 14px;"><i class="bi bi-envelope-fill" style="color: #2a73ed;"></i> contactdomain.com</p>
                    </div>
                    <div class="col-lg-6">
                        <h4 style="color: #10295d; font-size: 20px; font-weight: 600;">Denpasar, Bali</h4>
                        <p style="font-size: 14px;"><i class="bi bi-geo-alt-fill" style="color: #2a73ed;"></i> Jl. Niti Mandala, Renon, Bali, Indonesia – 80225</p>
                        <p style="font-size: 14px;"><i class="bi bi-telephone-fill" style="color: #2a73ed;"></i> +62 361 234 4567</p>
                        <p style="font-size: 14px;"><i class="bi bi-envelope-fill" style="color: #2a73ed;"></i> contactdomain.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="apointment-form">
                    <form action="">
                        <div class="input-form">
                            <input type="text" name=" name" class="input-section" placeholder="Your name" id="" />
                        </div>

                        <div class="input-form">
                            <input type="email" name="Email" class="input-section" placeholder="Your Email" id="" />
                        </div>

                        <div class="input-form">
                            <input type="datetime-local" name="datetime" id="" class="input-section" />
                        </div>

                        <div class="input-form">
                            <select name="service-option" id="" class="input-section">
                                <option value="">Select Option</option>
                                <option value="">option-01</option>
                                <option value="">option-02</option>
                                <option value="">option-03</option>
                                <option value="">option-04</option>
                            </select>
                        </div>

                        <div class="input-form">
                            <textarea name="message" id="" rows="4" cols="50" class="input-section" placeholder="Your Message"></textarea>
                        </div>
                        <div class="input-form">
                            <input class="btn btn-primary w-25" type="submit" value="Submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col" *ngFor="let clientlogo of client">
                    <div class="card" style="border: unset;">
                        <img [src]="clientlogo.image" class="card-img-top w-75 client-logo" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
