<header class="landing-header" style="position: relative; background-image: url(image/team-of-multiracial-doctors-at-hospital-e1598498378805.jpg); background-position: top; background-repeat: no-repeat; background-size: cover; height: 55vh;">
       
   
  <div class="header-overlay">
      <div class="container">
                  <h1 class="header-heading" style="font-size: 60px; text-align: center;">Our Services</h1>
          </div>
      </div>
    
</header>

<section>
    <div class="container">
        <div class="row">
                <div class="main-heading-content">
                    <h2>We Provide Best Healthcare Services</h2>
                    <p>Getting an accurate diagnosis can be one of the most impactful experiences that you can have.</p>
                </div>
            <div class="col-lg-12">
                <div class="row row-cols-1 row-cols-md-3 g-5">
                    <div class="col">
                        <div class="card clinic-card mb-3" style="border: unset; box-shadow: 0px 0px 6px 0px;">
                            <div class="row g-0">
                              <div class="col-md-3">
                                <div class="left-icon ">
                                    <i class="bi bi-hospital"></i>
                                </div>
                              </div>
                              <div class="col-md-9">
                                <div class="card-body clinic-body">
                                  <h5 class="card-title clinic-titel">24 Hour Healthcare Services</h5>
                                  <p class="card-text clinic-text">We are committed to your health and well-being, offering the very latest in comprehensive evidence-based care.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card clinic-card mb-3" style="border: unset; box-shadow: 0px 0px 6px 0px;">
                            <div class="row g-0">
                              <div class="col-md-3">
                                <div class="left-icon ">
                                    <i class="bi bi-hospital"></i>
                                </div>
                              </div>
                              <div class="col-md-9">
                                <div class="card-body clinic-body">
                                  <h5 class="card-title clinic-titel">24 Hour Healthcare Services</h5>
                                  <p class="card-text clinic-text">We are committed to your health and well-being, offering the very latest in comprehensive evidence-based care.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card clinic-card mb-3" style="border: unset; box-shadow: 0px 0px 6px 0px;">
                            <div class="row g-0">
                              <div class="col-md-3">
                                <div class="left-icon ">
                                    <i class="bi bi-hospital"></i>
                                </div>
                              </div>
                              <div class="col-md-9">
                                <div class="card-body clinic-body">
                                  <h5 class="card-title clinic-titel">24 Hour Healthcare Services</h5>
                                  <p class="card-text clinic-text">We are committed to your health and well-being, offering the very latest in comprehensive evidence-based care.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card clinic-card mb-3" style="border: unset; box-shadow: 0px 0px 6px 0px;">
                            <div class="row g-0">
                              <div class="col-md-3">
                                <div class="left-icon ">
                                    <i class="bi bi-hospital"></i>
                                </div>
                              </div>
                              <div class="col-md-9">
                                <div class="card-body clinic-body">
                                  <h5 class="card-title clinic-titel">24 Hour Healthcare Services</h5>
                                  <p class="card-text clinic-text">We are committed to your health and well-being, offering the very latest in comprehensive evidence-based care.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card clinic-card mb-3" style="border: unset; box-shadow: 0px 0px 6px 0px;">
                            <div class="row g-0">
                              <div class="col-md-3">
                                <div class="left-icon ">
                                    <i class="bi bi-hospital"></i>
                                </div>
                              </div>
                              <div class="col-md-9">
                                <div class="card-body clinic-body">
                                  <h5 class="card-title clinic-titel">24 Hour Healthcare Services</h5>
                                  <p class="card-text clinic-text">We are committed to your health and well-being, offering the very latest in comprehensive evidence-based care.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col">
                        <div class="card clinic-card mb-3" style="border: unset; box-shadow: 0px 0px 6px 0px;">
                            <div class="row g-0">
                              <div class="col-md-3">
                                <div class="left-icon ">
                                    <i class="bi bi-hospital"></i>
                                </div>
                              </div>
                              <div class="col-md-9">
                                <div class="card-body clinic-body">
                                  <h5 class="card-title clinic-titel">24 Hour Healthcare Services</h5>
                                  <p class="card-text clinic-text">We are committed to your health and well-being, offering the very latest in comprehensive evidence-based care.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-12" style="display: flex;justify-content: center;margin: 50px 0px;">
                <button type="button" class="btn btn-primary">View all services</button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                  <div class="card" style="border: unset;">
                    <img src="image/logo-1@2x.png" class="card-img-top w-75 client-logo" alt="...">
                    
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="border: unset;">
                    <img src="image/logo-2@2x.png" class="card-img-top w-75 client-logo" alt="...">
                    
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="border: unset;">
                    <img src="image/logo-3.png" class="card-img-top w-75 client-logo" alt="...">
                    
                  </div>
                </div>
                <div class="col">
                  <div class="card" style="border: unset;">
                    <img src="image/logo-4@2x.png" class="card-img-top w-75 client-logo" alt="...">
                    
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row ">
            <div class="col-lg-6">
                <div class="right-img">
                    <figure style="padding: 30px;">
                        <img src="image/Faq_1@2x-1.png" class="w-100" alt="">
                    </figure>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="left-cantaint">
                    <div class="left-text-container">
                        <h2>Frequently Asked <br> Questions</h2>
                        <p>Getting an accurate diagnosis can be one of the most impactful experiences that you can have. We can help you get there.</p>
                    </div>
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                               
How to Make an Appointment for Medical Check Up?
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Quality and Safety at Medkit Clinic
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. <br> It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Diseases and Conditions
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
           
        </div>
    </div>
</section>